_id,name,slug,timezone,latitude,longitude,params,last_game_id
1,Хабаровск,khv,Asia/Vladivostok,,,,
2,Владивосток,vdk,Asia/Vladivostok,,,,
3,Уфа,ufa,Asia/Yekaterinburg,,,,
4,Москва,moscow,Europe/Moscow,55.7512,37.6184,"{""scrape"":{""strategy"":""v1"",""_id"":9}}",
5,Новосибирск,nsk,Asia/Novosibirsk,,,,
6,Челябинск,che,Asia/Yekaterinburg,,,,
7,Екатеринбург,ekb,Asia/Yekaterinburg,,,,
8,Чебоксары,cheb,Europe/Moscow,,,,
9,Нижний Новгород,nn,Europe/Moscow,,,,
10,Набережные Челны,chelny,Europe/Moscow,,,,
11,Санкт-Петербург,spb,Europe/Moscow,59.8983,30.2618,"{""scrape"":{""strategy"":""v2"",""since"":""2025-12-01""}}",
12,Уссурийск,uss,Asia/Vladivostok,,,,
13,Ростов-на-Дону,rostov,Europe/Moscow,,,,
14,Магадан,mgdn,Asia/Magadan,,,,
15,Казань,kzn,Europe/Moscow,,,,
16,Стерлитамак,str,Asia/Yekaterinburg,,,,
17,Самара,smr,Europe/Samara,,,,
18,Тюмень,tmn,Asia/Yekaterinburg,,,,
19,Ставрополь,stav,Europe/Moscow,,,,
20,Нью-Йорк,nyc,America/New_York,,,,
21,Курган,kgn,Asia/Yekaterinburg,,,,
22,Таганрог,tagan,Europe/Moscow,,,,
23,Псков,pskov,Europe/Moscow,,,,
24,Южно-Сахалинск,sakh,Asia/Sakhalin,,,,
25,Барнаул,brn,Asia/Barnaul,,,,
26,Тель-Авив,tlv,Asia/Jerusalem,,,,
27,Кемерово,kem,Asia/Novokuznetsk,,,,
28,Петропавловск-Камчатский,pk,Asia/Kamchatka,,,,
29,Астана,astana,Asia/Yekaterinburg,,,,
30,Владимир,vld,Europe/Moscow,,,,
31,Краснодар,krd,Europe/Moscow,,,,
32,Калуга,klg,Europe/Moscow,,,,
33,Филадельфия,phi,America/New_York,,,,
34,Благовещенск,blg,Asia/Yakutsk,,,,
35,Красноярск,krs,Asia/Krasnoyarsk,,,,
36,Лондон,lnd,Europe/London,,,,
37,Пермь,perm,Asia/Yekaterinburg,,,,
38,Беэр-Шева,beer,Asia/Jerusalem,,,,
39,Рязань,rzn,Europe/Moscow,,,,
40,Находка,nhk,Asia/Vladivostok,,,,
41,Улан-Удэ,ulanude,Asia/Irkutsk,,,,
42,Ковров,kovrov,Europe/Moscow,,,,
43,Алматы,almaty,Asia/Yekaterinburg,,,,
44,Обнинск,obn,Europe/Moscow,,,,
45,Ижевск,izh,Europe/Samara,,,,
46,Воткинск,vtk,Europe/Samara,,,,
47,Йошкар-Ола,yo,Europe/Moscow,,,,
48,Нижнекамск,nk,Europe/Moscow,,,,
49,Торонто,gta,America/New_York,,,,
50,Брест,brest,Europe/Moscow,,,,
51,Волгодонск,vdonsk,Europe/Moscow,,,,
52,Рига,riga,Europe/Riga,,,,
53,Нефтекамск,nef,Asia/Yekaterinburg,,,,
54,Бостон,boston,America/New_York,,,,
55,Новочеркасск,novochek,Europe/Moscow,,,,
56,Иркутск,irk,Asia/Irkutsk,,,,
57,Саратов,saratov,Europe/Samara,,,,
58,Энгельс,eng,Europe/Samara,,,,
59,Туймазы,tmz,Asia/Yekaterinburg,,,,
60,Хайфа,haifa,Europe/Moscow,,,,
61,Воронеж,vrn,Europe/Moscow,,,,
62,Сочи,sochi,Europe/Moscow,,,,
63,Севастополь,svs,Europe/Moscow,,,,
64,Альметьевск,almet,Europe/Moscow,,,,
65,Тамбов,tmb,Europe/Moscow,,,,
66,Курск,kursk,Europe/Moscow,,,,
67,Лимассол,lms,Asia/Nicosia,,,,
68,Минск,minsk,Europe/Minsk,,,,
69,Сургут,sur,Asia/Yekaterinburg,,,,
70,Ярославль,yar,Europe/Moscow,,,,
71,Сыктывкар,sktv,Europe/Moscow,,,,
72,Октябрьский,okt,Asia/Yekaterinburg,,,,
73,Шахты,shahty,Europe/Moscow,,,,
74,Липецк,lip,Europe/Moscow,,,,
75,Иерусалим,jrs,Asia/Jerusalem,,,,
76,Геленджик,gel,Europe/Moscow,,,,
77,Петрозаводск,ptz,Europe/Moscow,,,,
78,Омск,omsk,Asia/Novokuznetsk,,,,
79,Томск,tomsk,Asia/Tomsk,,,,
80,Караганда,krg,Asia/Yekaterinburg,,,,
81,Усть-Каменогорск,ukg,Asia/Yekaterinburg,,,,
