_id,name,slug,timezone,last_game_id
0,"Везде, где есть интернет",msk,Europe/Moscow,
4,Хабаровск,khv,Asia/Vladivostok,
5,Владивосток,vdk,Asia/Vladivostok,
6,Уфа,ufa,Europe/Moscow,
9,Москва,moscow,Europe/Moscow,
10,Новосибирск,nsk,Asia/Novosibirsk,
12,Челябинск,che,Asia/Yekaterinburg,
13,Екатеринбург,ekb,Asia/Yekaterinburg,
14,Чебоксары,cheb,Europe/Moscow,
15,Нижний Новгород,nn,Europe/Moscow,
16,Набережные Челны,chelny,Europe/Moscow,
17,Санкт-Петербург,spb,Europe/Moscow,
18,Казань,kzn,Europe/Moscow,
19,Самара,smr,Europe/Samara,
20,Тюмень,tmn,Asia/Yekaterinburg,
21,Омск,omsk,Asia/Omsk,
22,Томск,tomsk,Asia/Tomsk,
23,Калининград,kgd,Europe/Kaliningrad,
24,Волгоград,vlg,Europe/Volgograd,
25,Ставрополь,stav,Europe/Moscow,
26,Нью-Йорк,nyc,America/New_York,
28,Таганрог,tagan,Europe/Moscow,
29,Псков,pskov,Europe/Moscow,
30,Южно-Сахалинск,yuzhno-sahalinsk,Asia/Sakhalin,
31,Барнаул,brn,Asia/Barnaul,
32,Тель-Авив,tlv,Asia/Jerusalem,
33,Кемерово,kem,Asia/Novokuznetsk,
34,Петропавловск-Камчатский,pk,Asia/Kamchatka,
35,Астана,astana,Asia/Almaty,
36,Владимир,vld,Europe/Moscow,
37,Краснодар,krd,Europe/Moscow,
38,Калуга,klg,Europe/Moscow,
39,Филадельфия,phi,America/New_York,
40,Благовещенск,blg,Asia/Yakutsk,
41,Красноярск,krs,Asia/Krasnoyarsk,
42,Лондон,lnd,Europe/London,
43,Пермь,perm,Asia/Yekaterinburg,
44,Беэр-Шева,beer,Asia/Jerusalem,
45,Рязань,rzn,Europe/Moscow,
46,Находка,nhk,Asia/Vladivostok,
49,Алматы,almaty,Asia/Almaty,
50,Обнинск,obn,Europe/Moscow,
51,Ижевск,izh,Europe/Moscow,
52,Воткинск,vtk,Europe/Moscow,
53,Йошкар-Ола,yo,Europe/Moscow,
54,Нижнекамск,nk,Europe/Moscow,
55,Торонто,gta,America/Toronto,
56,Брест,brest,Europe/Minsk,
57,Волгодонск,vdonsk,Europe/Moscow,
58,Рига,riga,Europe/Riga,
59,Нефтекамск,nef,Europe/Moscow,
60,Бостон,boston,America/New_York,
62,Иркутск,irk,Asia/Irkutsk,
63,Саратов,saratov,Europe/Saratov,
64,Энгельс,engels,Europe/Saratov,
66,Хайфа,haifa,Asia/Jerusalem,
67,Воронеж,vrn,Europe/Moscow,
68,Сочи,sochi,Europe/Moscow,
70,Альметьевск,almet,Europe/Moscow,
71,Тамбов,tmb,Europe/Moscow,
73,Лимассол,lms,Asia/Nicosia,
74,Минск,minsk,Europe/Minsk,
75,Сургут,sur,Asia/Yekaterinburg,
76,Ярославль,yaroslavl,Europe/Moscow,
77,Сыктывкар,sktv,Europe/Moscow,
78,Октябрьский,okt,Europe/Moscow,
79,Шахты,shahty,Europe/Moscow,
80,Липецк,lip,Europe/Moscow,
81,Иерусалим,jrs,Asia/Jerusalem,
83,Петрозаводск,ptz,Europe/Moscow,
