_id,name,image_urls
acf42efe-269e-4f26-90db-2fcb10dde02b,"Виниловая пластинка","/storage/source/1/nn2dnGqcNIOtgh2IWHoVWeIzZLluIysP.png,/storage/source/1/eeS4YdNfGSASffh61AJEfyAIVrL6ioDH.png"
74d0cd9a-ea6c-4d0c-8545-81c047c5b56e,"Две виниловые пластинки","/storage/source/1/j3jAjN6nyWlB6a83By-sLYCstlyTdq9b.png"
c3a52789-f7df-4390-be08-7527220017f3,"Три виниловые пластинки","/storage/source/1/lSk7YZRHNXb4dhl5HD96EZ0FIpZ11bnR.png"
6277847b-65b0-42d1-af6c-324fae60f728,"Золотая пластинка","/storage/source/1/yFFvZ3as7tiUbBj095Yp5Olv2Zk-dYNY.png"
476f144a-e4e4-44b3-93f3-662109d20ee8,"Две золотые пластинки","/storage/source/1/Id6HipkbuIXwuUAlJgxCQmk7y82Y_Tpk.png"
d38ca6e4-5beb-400c-adaf-aeb3e16dc349,"Три золотые пластинки","/storage/source/1/z3E-ZHHJp8d01yV3k2l3X3fy1A62GGxE.png"
6a3e2576-64e3-476f-8e88-1c11a2acfb6f,"Платиновая пластинка","/storage/source/1/alWqb2W3ldubQjRng2pUI4AWrGa0ySfw.png"
2c70ab29-8cc5-49a3-a7e9-aec0944253dc,"Бриллиантовая пластинка","/storage/source/1/2tI0y4HGorrt-vUOcj5DGDhZ3L4HbfPM.png"
d9699e75-4931-4218-a469-701fd07a4722,"Сержант","/storage/source/1/_RxoDTGn5dtAARj_0kWXrbvEBOtUqak5.png"
65aa646d-af60-4199-8fed-e3bcbadeeb69,"Рэмбо","/storage/source/1/fvd3W53LivI8kYQT16M3O1FIEmSBeDjw.png"
4372fdd7-ae0e-4c41-948f-c89117899651,"Лейтенант","/storage/source/1/ss5kmfFa3l2Z1zx2nbheYKAHG4j7GUOS.png"
26c6feae-95cf-4f6c-8036-25d4b47bebf9,"Чак Норрис","/storage/source/1/ga4O8ALF0T9e14dW3PbBkleDRczFyWo8.png"
84df453e-ec97-4660-a4c7-46a17f054519,"Генерал","/storage/source/1/WKgIZdl-KOuBSWFWRo1CbPnkQsB1qrHG.png"
52d2e720-259a-4981-b473-e6d97e3dc7f0,"Недосягаемые","/storage/source/1/Fj8fkSUZSleH1na2hTJ0ZF5TxI2V_wP7.png"
0b9e115b-c7e8-4a2b-9a4a-0d0d879c75ef,"Легенда","/storage/source/1/vymbAtLhrNGoinHXbRE0MSb4MwUHNGLp.png"
